<h1>index for libro</h1>
<form ></form>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Editorial</th>
            <th>No.Copias</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input name="nombre" type="text" placeholder="nombre" />
            </td>
            <td>
                <input name="editorial" type="text" placeholder="editorial" />
            </td>
            <td>
                <input name="no_copias" type="text" placeholder="Numero de copias" />
            </td>
        </tr>
        <tr>
            <td>
                <input name="nombre" type="text" placeholder="nombre" />
            </td>
            <td>
                <input name="editorial" type="text" placeholder="editorial" />
            </td>
            <td>
                <input name="no_copias" type="text" placeholder="Numero de copias" />
            </td>
        </tr>
        <tr>
            <td>
                <input name="nombre" type="text" placeholder="nombre" />
            </td>
            <td>
                <input name="editorial" type="text" placeholder="editorial" />
            </td>
            <td>
                <input name="no_copias" type="text" placeholder="Numero de copias" />
            </td>
        </tr>
        <tr>
            <td>
                <input name="nombre" type="text" placeholder="nombre" />
            </td>
            <td>
                <input name="editorial" type="text" placeholder="editorial" />
            </td>
            <td>
                <input name="no_copias" type="text" placeholder="Numero de copias" />
            </td>
        </tr>
    </tbody>
</table>